.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user-card {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.user-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.user-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.user-card:hover .user-card-front {
  transform: rotateY(180deg);
}

.user-card:hover .user-card-back {
  transform: rotateY(0deg);
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-email {
  font-size: 14px;
  color: #888;
}

.user-address {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.user-phone {
  font-size: 14px;
  color: #555;
}

.user-avatar-image {
  max-width: 25%;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

